<h2>Hello!</h2>
<h2>Please enter into the address bar ?message=. and then input your name</h2>
<h2>If you follow directions well then here is your name in all caps:</h2>
<h2><% unless @message == nil%> </h2>
<h2><%= @message.upcase %> </h2>
<% end %>